  
@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);


.banner{
  height: 600px;
  background-image: url("../../images/banner.jpg");
  opacity: 65%;	
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:80px 60px 100px 60px;
  color : grey;

}
.card-img-top{
  border-radius: 30px;
  border: 1px solid silver;
}
.ach{
  border-radius: 250px;
  border: 8px solid gainsboro;
}
.dp{
  border-radius: 15px;
  border: 10px solid gainsboro;
  width: 300px;
  float:left;
  height: auto;
  margin-right: 60px;
}
.container{
  background-color: white;
}
body{
  background-color: antiquewhite;
}
.icon{
  color: aliceblue;
  font-family: FontAwesome;
}
.footer{
  background-color: darkslategray;
}
nav{
  background-color: rgb(55, 54, 56);
  color: white;
  height:45px;
}
#button3{
  font-size: 14pt;
  position: absolute;
  right: 7px;
}
#button2{
  font-size: 14pt;
  position: absolute;
  right:150px;
}
#button1{
  font-size: 14pt;
  position: absolute;
  right:250px;
}
.tools{
  height:60px;
  width:auto;
  padding:5px;
  margin:10px;
}



.feature-grid {
  position: relative;
}

  .feature-grid:after {
    clear: both;
    content: '';
    display: block;
  }

  .feature-grid .feature {
    display: inline-block;
    float: left;
    margin-bottom: 3em;
    width: 50%;
  }

    .feature-grid .feature .content {
      width: 60%;
    }

    .feature-grid .feature .image {
      width: 30%;
    }

      .feature-grid .feature .image img {
        display: inline;
        max-width: 100%;
      }

    .feature-grid .feature:nth-child(odd) .content, .feature-grid .feature:nth-child(odd) .image {
      float: right;
      margin-right: 5%;
      text-align: right;
    }

    .feature-grid .feature:nth-child(even) .content, .feature-grid .feature:nth-child(even) .image {
      float: left;
      margin-left: 5%;
      text-align: left;
    }

  @media screen and (max-width: 1280px) {

    .feature-grid .feature {
      margin-bottom: 2em;
    }

  }

  @media screen and (max-width: 980px) {

    .feature-grid .feature {
      display: block;
      width: 100%;
    }

      .feature-grid .feature .content {
        width: 65%;
      }

      .feature-grid .feature .image {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

  }

  @media screen and (max-width: 736px) {

    .feature-grid .feature {
      margin-bottom: 1em;
    }

  }

  @media screen and (max-width: 480px) {

    .feature-grid .feature .content,
    .feature-grid .feature .image {
      display: block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      text-align: center !important;
      width: 100%;
    }

    .feature-grid .feature .image {
      margin-bottom: 1em;
    }

  }
