body{
    background-color: white;
}
#area
{
    margin:15px;
    margin-top: 150px;
    border: 1px solid black;
    padding : 25px;
    padding-top: 45px;
    background-color:brown;
    color: white;
    border-radius: 25px;
}
.key
{
    font-size: 20pt;
    font-weight: bold;
}
#search
{
    font-size: 15pt;
    font-weight: bold;
    background-color: chartreuse;
    margin: 25px;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    border: none;
    box-shadow: 2px 2px 2px black ;

}
#reset
{
    font-size: 15pt;
    font-weight: bold;
    background-color:  mediumpurple;
    margin: 25px;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    border: none;
    box-shadow: 2px 2px 2px black ;

}
#sort
{
    font-size: 15pt;
    font-weight: bold;
    background-color: lightsalmon;
    margin: 25px;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    border: none;
    box-shadow: 2px 2px 2px black ;

}
.dashboard{
    margin:25px;
    padding: 15px;
    background-color: white;
    height: 1000px;
    color: navy;
}
.navbtn{
    background-color: greenyellow;
    color: black;
    border:none;
    height: 35px;
    width:150px;
    border-radius: 15px;
    font-size: 14pt;
    font-weight: bold;
    margin: 25px;
    padding: 5px;
    box-shadow: 2px 2px 2px black ;
}
@media only screen and (max-device-width: 480px)
{
    #root{
        visibility: hidden;
    }
    #error{
        visibility: visible;
        color: black;
        font-size: 30pt;
        top: 25%;
        position: absolute;
        top: 20px;
    }
    #mobtopc{
        width: 90%;
        height: auto;
    }
}
@media only screen and (min-device-width: 480px)
{
    #error{
        visibility: hidden;
    }
    #root{
        visibility: visible;
    }
}
#nav{
    background-color: palegreen;
    position: absolute;
    top: 25px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16pt;
    padding-left: 20px;
    padding-right: 20px;
}
#back{
    position: absolute;
    top: 15px;
    right: 150px;
    font-size: 14pt;
    font-weight: bold;
    background-color:lightgoldenrodyellow;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    border: none;
    box-shadow: 2px 2px 2px black ;
}
.titl{
    font-weight: bold;
    font-family: cursive;
}