.box
{
    background-color: blanchedalmond;
    color:black;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    font-size: 16pt;
    border: 2px solid brown;
    position: relative;
    padding: 10px ;
    margin: 1px;
}
.sbox
{
    background-color: coral;
    color:black;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    font-size: 16pt;
    border: 2px solid brown;
    position: relative;
    padding: 10px ;    
    margin: 1px;
}
.fbox
{
    background-color: cyan;
    color:black;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    font-size: 16pt;
    border: 2px solid brown;
    position: relative;
    padding: 10px ;
    margin: 1px;
}
.nbox
{
    background-color: red;
    color:black;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 16pt;
    border: 2px solid brown;
    position: relative;
    padding: 10px ;

}