.box
{
    background-color: blanchedalmond;
    color:black;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 16pt;
    border: 2px solid brown;
    position: relative;
    padding: 10px ;
}
.sbox
{
    background-color: coral;
    color:black;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 16pt;
    border: 2px solid brown;
    position: relative;
    padding: 10px ;

}
.fbox
{
    background-color: cyan;
    color:black;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 16pt;
    border: 2px solid brown;
    position: relative;
    padding: 10px ;

}
.nbox
{
    background-color: red;
    color:black;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 16pt;
    border: 2px solid brown;
    position: relative;
    padding: 10px ;

}